.edit-button {
  padding-left: 1em;
}

.settings-button {
  float: right;
}

.done-button {
  float: right;
}

.remove-buttons {
  float: right;
}

.add-button {
  background: Transparent no-repeat;
  border: none;
  cursor: pointer;
  overflow: hidden;
  outline: none;
}

.add-button:disabled {
  background: Transparent no-repeat;
  border: none;
  cursor: none;
  overflow: hidden;
  outline: none;
}
