.edit-button {
  padding-left: 1em;
}

.input-form {
  display: inline-block;
}

.history-table {
  padding-top: 1em;
}

.done-button {
  float: right;
}

.remove-buttons {
  float: right;
}

.add-button {
  background: Transparent no-repeat;
  border: none;
  cursor: pointer;
  overflow: hidden;
  outline: none;
  vertical-align: middle;
}

.add-button:disabled {
  background: Transparent no-repeat;
  border: none;
  cursor: none;
  overflow: hidden;
  outline: none;
}
