.edit-button {
  padding-left: 1em;
}

.settings-button {
  position: absolute;
  right: 1em;
}

.input-textfield {
  padding-left: 1em;
}

.add-item-button {
  padding-left: 1em;
}

.done-button {
  padding-left: 1em;
}

.header {
  padding-left: 1em;
}
